# With SMTP
MSIP1=ms-0.ms.default.svc.cluster.local
DS1=ds-0.dshs.default.svc.cluster.local
DS2=ds-1.dshs.default.svc.cluster.local
DS3=ds-2.dshs.default.svc.cluster.local
PGM=pgm-0.ax.default.svc.cluster.local
PGS=pgs-0.ax.default.svc.cluster.local
RPM1=rmp-0.default.svc.cluster.local
RPM2=rmp-1.default.svc.cluster.local
#HOSTIP=$(hostname -i)
ENABLE_SYSTEM_CHECK=y
ADMIN_EMAIL=opdk@google.com
APIGEE_ADMINPW=Simple123
LICENSE_FILE=/license/license.txt
MSIP=$MSIP1
USE_LDAP_REMOTE_HOST=n
LDAP_TYPE=1
APIGEE_LDAPPW=LDAP_PASSWORD
MP_POD=gateway
REGION=dc-1
ZK_HOSTS="$DS1 $DS2 $DS3"
ZK_CLIENT_HOSTS="$DS1 $DS2 $DS3"
# Must use IP addresses for CASS_HOSTS, not DNS names.
CASS_HOSTS="$DS1 $DS2 $DS3"
# Default is postgres
PG_PWD=postgres
PG_MASTER=$PGM
PG_STANDBY=$PGS
SKIP_SMTP=n
SMTPHOST=smtp.example.com
SMTPUSER=smtp@example.com
# omit for no username
SMTPPASSWORD=SMTP_PASSWORD
# omit for no password
SMTPSSL=n
SMTPPORT=25
SMTPMAILFROM="My Company <myco@company.com>"
