IP1=ms-0.mshs.default.svc.cluster.local

# Specify the IP or DNS name of the Management Server.
MSIP="$IP1"

# Specify the Edge sys admin credentials.
ADMIN_EMAIL="opdk@google.com"
APIGEE_ADMINPW=Simple123     # If omitted, you are prompted for it.

# Specify organization name.
ORG_NAME=acme  # lowercase only, no spaces, underscores, or periods.

# Specify the organization administrator user.
# Either specify an existing user, or specify the information
# necessary to create a new user.
# Do not use the sys admin as the organization administrator.
#
# Create a new user for the organization administrator.
NEW_USER="y"
# New user information if NEW_USER="y".
USER_NAME=zoinks@snarf.com
FIRST_NAME=Aleister
LAST_NAME=Crowley
# Org admin password must be at least 8 characters long and contain one uppercase
# letter, one lowercase letter, and one digit or special character
USER_PWD="Simple123"
ORG_ADMIN=zoinks@snarf.com
#
# Or, specify an existing user as the organization admin,
# omit USER_NAME, FIRST_NAME, LAST_NAME, USER_PWD.
# NEW_USER="n"
# ORG_ADMIN=existing@user.com

# Specify environment name.
ENV_NAME=prod

# Specify virtual host information.
VHOST_PORT=9001
VHOST_NAME=default

# If you have a DNS entry for the virtual host.
VHOST_ALIAS=apiprod.evils.in

# If you do not have a DNS entry for the virtual host,
# specify the IP and port of each router as a space-separated list:
# VHOST_ALIAS="firstRouterIP:9001 secondRouterIP:9001"

# Optionally configure TLS/SSL for virtual host.
# VHOST_SSL=y     # Set to "y" to enable TLS/SSL on the virtual host.
# KEYSTORE_JAR=   # JAR file containing the cert and private key.
# KEYSTORE_NAME=  # Name of the keystore.
# KEYSTORE_ALIAS= # The key alias.
# KEY_PASSWORD=   # The key password, if it has one.

# Specify the analytics group.
AXGROUP=axgroup-001 # Default name is axgroup-001.
